*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# Maven
target/*
release.properties

# Eclipse
.classpath
.project
.externalToolBuilders/
.metadata
.settings


.metadata/*
.settings/*
Servers/*
target/*
0.src/**/.settings/*
0.Src/olive-music-web/src/main/webapp/.idea/*
0.Src/olive-music-web/src/main/.idea/*
*.MF
*/target/*

0.Src/olive-music-dal/src/main/resources/META-INF/spring-olive-conf.xml
