<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.magicsoft.olive.music.dal.database.OliveDownloadUrlMapper" >
  <resultMap id="BaseResultMap" type="cn.com.magicsoft.olive.music.model.OliveDownloadUrl" >
    <id column="download_url_id" property="downloadUrlId" jdbcType="INTEGER" />
    <result column="album_id" property="albumId" jdbcType="INTEGER" />
    <result column="download_url" property="downloadUrl" jdbcType="VARCHAR" />
    <result column="download_url_name" property="downloadUrlName" jdbcType="VARCHAR" />
    <result column="download_url_type" property="downloadUrlType" jdbcType="TINYINT" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    download_url_id, album_id, download_url, download_url_name, download_url_type, modify_time, 
    create_time
  </sql>
  <sql id="condition" >
    <if test="null!=params" >
      <if test="null!=params.queryCondition and ''!=params.queryCondition" >
        ${params.queryCondition}
      </if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM olive_download_url
    WHERE download_url_id = #{downloadUrlId,jdbcType=INTEGER}
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    SELECT COUNT(1) as s FROM olive_download_url WHERE 1=1 
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM olive_download_url WHERE 1=1 
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      ORDER BY ${orderByField}
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
     LIMIT #{page.startRowNum} ,#{page.pageSize} 
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM olive_download_url WHERE 1=1 
    <include refid="condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    DELETE FROM olive_download_url
    WHERE download_url_id = #{downloadUrlId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="cn.com.magicsoft.olive.music.model.OliveDownloadUrl" >
    DELETE FROM olive_download_url
    WHERE download_url_id = #{downloadUrlId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.magicsoft.olive.music.model.OliveDownloadUrl" >
    INSERT INTO olive_download_url (download_url_id, album_id, download_url, 
      download_url_name, download_url_type, modify_time, 
      create_time)
    VALUES (#{downloadUrlId,jdbcType=INTEGER}, #{albumId,jdbcType=INTEGER}, #{downloadUrl,jdbcType=VARCHAR}, 
      #{downloadUrlName,jdbcType=VARCHAR}, #{downloadUrlType,jdbcType=TINYINT}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.magicsoft.olive.music.model.OliveDownloadUrl" >
    INSERT INTO olive_download_url
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="downloadUrlId != null" >
        download_url_id,
      </if>
      <if test="albumId != null" >
        album_id,
      </if>
      <if test="downloadUrl != null" >
        download_url,
      </if>
      <if test="downloadUrlName != null" >
        download_url_name,
      </if>
      <if test="downloadUrlType != null" >
        download_url_type,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="downloadUrlId != null" >
        #{downloadUrlId,jdbcType=INTEGER},
      </if>
      <if test="albumId != null" >
        #{albumId,jdbcType=INTEGER},
      </if>
      <if test="downloadUrl != null" >
        #{downloadUrl,jdbcType=VARCHAR},
      </if>
      <if test="downloadUrlName != null" >
        #{downloadUrlName,jdbcType=VARCHAR},
      </if>
      <if test="downloadUrlType != null" >
        #{downloadUrlType,jdbcType=TINYINT},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.magicsoft.olive.music.model.OliveDownloadUrl" >
    UPDATE olive_download_url
    <set >
      <if test="albumId != null" >
        album_id = #{albumId,jdbcType=INTEGER},
      </if>
      <if test="downloadUrl != null" >
        download_url = #{downloadUrl,jdbcType=VARCHAR},
      </if>
      <if test="downloadUrlName != null" >
        download_url_name = #{downloadUrlName,jdbcType=VARCHAR},
      </if>
      <if test="downloadUrlType != null" >
        download_url_type = #{downloadUrlType,jdbcType=TINYINT},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE download_url_id = #{downloadUrlId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.magicsoft.olive.music.model.OliveDownloadUrl" >
    UPDATE olive_download_url
    SET album_id = #{albumId,jdbcType=INTEGER},
      download_url = #{downloadUrl,jdbcType=VARCHAR},
      download_url_name = #{downloadUrlName,jdbcType=VARCHAR},
      download_url_type = #{downloadUrlType,jdbcType=TINYINT},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    WHERE download_url_id = #{downloadUrlId,jdbcType=INTEGER}
  </update>
</mapper>