<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.magicsoft.olive.music.dal.database.SysCategoryItemMapper" >
  <resultMap id="BaseResultMap" type="cn.com.magicsoft.olive.music.model.SysCategoryItem" >
    <id column="category_item_id" property="categoryItemId" jdbcType="INTEGER" />
    <result column="category_item_code" property="categoryItemCode" jdbcType="VARCHAR" />
    <result column="category_item_name" property="categoryItemName" jdbcType="VARCHAR" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="parent_item_id" property="parentItemId" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="INTEGER" />
    <result column="is_default" property="isDefault" jdbcType="TINYINT" />
    <result column="invalid" property="invalid" jdbcType="TINYINT" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    category_item_id, category_item_code, category_item_name, category_id, parent_item_id, 
    order_no, is_default, invalid, modify_time, create_time
  </sql>
  <sql id="condition" >
    <if test="null!=params" >
      <if test="null!=params.queryCondition and ''!=params.queryCondition" >
        ${params.queryCondition}
      </if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM sys_category_item
    WHERE category_item_id = #{categoryItemId,jdbcType=INTEGER}
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    SELECT COUNT(1) as s FROM sys_category_item WHERE 1=1 
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM sys_category_item WHERE 1=1 
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      ORDER BY ${orderByField}
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
     LIMIT #{page.startRowNum} ,#{page.pageSize} 
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM sys_category_item WHERE 1=1 
    <include refid="condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    DELETE FROM sys_category_item
    WHERE category_item_id = #{categoryItemId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="cn.com.magicsoft.olive.music.model.SysCategoryItem" >
    DELETE FROM sys_category_item
    WHERE category_item_id = #{categoryItemId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.magicsoft.olive.music.model.SysCategoryItem" >
    INSERT INTO sys_category_item (category_item_id, category_item_code, 
      category_item_name, category_id, parent_item_id, 
      order_no, is_default, invalid, 
      modify_time, create_time)
    VALUES (#{categoryItemId,jdbcType=INTEGER}, #{categoryItemCode,jdbcType=VARCHAR}, 
      #{categoryItemName,jdbcType=VARCHAR}, #{categoryId,jdbcType=INTEGER}, #{parentItemId,jdbcType=INTEGER}, 
      #{orderNo,jdbcType=INTEGER}, #{isDefault,jdbcType=TINYINT}, #{invalid,jdbcType=TINYINT}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.magicsoft.olive.music.model.SysCategoryItem" >
    INSERT INTO sys_category_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="categoryItemId != null" >
        category_item_id,
      </if>
      <if test="categoryItemCode != null" >
        category_item_code,
      </if>
      <if test="categoryItemName != null" >
        category_item_name,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="parentItemId != null" >
        parent_item_id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="isDefault != null" >
        is_default,
      </if>
      <if test="invalid != null" >
        invalid,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="categoryItemId != null" >
        #{categoryItemId,jdbcType=INTEGER},
      </if>
      <if test="categoryItemCode != null" >
        #{categoryItemCode,jdbcType=VARCHAR},
      </if>
      <if test="categoryItemName != null" >
        #{categoryItemName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="parentItemId != null" >
        #{parentItemId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=TINYINT},
      </if>
      <if test="invalid != null" >
        #{invalid,jdbcType=TINYINT},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.magicsoft.olive.music.model.SysCategoryItem" >
    UPDATE sys_category_item
    <set >
      <if test="categoryItemCode != null" >
        category_item_code = #{categoryItemCode,jdbcType=VARCHAR},
      </if>
      <if test="categoryItemName != null" >
        category_item_name = #{categoryItemName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="parentItemId != null" >
        parent_item_id = #{parentItemId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="isDefault != null" >
        is_default = #{isDefault,jdbcType=TINYINT},
      </if>
      <if test="invalid != null" >
        invalid = #{invalid,jdbcType=TINYINT},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE category_item_id = #{categoryItemId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.magicsoft.olive.music.model.SysCategoryItem" >
    UPDATE sys_category_item
    SET category_item_code = #{categoryItemCode,jdbcType=VARCHAR},
      category_item_name = #{categoryItemName,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      parent_item_id = #{parentItemId,jdbcType=INTEGER},
      order_no = #{orderNo,jdbcType=INTEGER},
      is_default = #{isDefault,jdbcType=TINYINT},
      invalid = #{invalid,jdbcType=TINYINT},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    WHERE category_item_id = #{categoryItemId,jdbcType=INTEGER}
  </update>
</mapper>