<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.magicsoft.olive.music.dal.database.SysFunctionInfoMapper" >
  <resultMap id="BaseResultMap" type="cn.com.magicsoft.olive.music.model.SysFunctionInfo" >
    <id column="func_id" property="funcId" jdbcType="INTEGER" />
    <result column="func_code" property="funcCode" jdbcType="VARCHAR" />
    <result column="func_name" property="funcName" jdbcType="VARCHAR" />
    <result column="func_description" property="funcDescription" jdbcType="VARCHAR" />
    <result column="func_order" property="funcOrder" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    func_id, func_code, func_name, func_description, func_order, create_time
  </sql>
  <sql id="condition" >
    <if test="null!=params" >
      <if test="null!=params.queryCondition and ''!=params.queryCondition" >
        ${params.queryCondition}
      </if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM sys_function_info
    WHERE func_id = #{funcId,jdbcType=INTEGER}
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    SELECT COUNT(1) as s FROM sys_function_info WHERE 1=1 
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM sys_function_info WHERE 1=1 
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      ORDER BY ${orderByField}
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
     LIMIT #{page.startRowNum} ,#{page.pageSize} 
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM sys_function_info WHERE 1=1 
    <include refid="condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    DELETE FROM sys_function_info
    WHERE func_id = #{funcId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="cn.com.magicsoft.olive.music.model.SysFunctionInfo" >
    DELETE FROM sys_function_info
    WHERE func_id = #{funcId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.magicsoft.olive.music.model.SysFunctionInfo" >
    INSERT INTO sys_function_info (func_id, func_code, func_name, 
      func_description, func_order, create_time
      )
    VALUES (#{funcId,jdbcType=INTEGER}, #{funcCode,jdbcType=VARCHAR}, #{funcName,jdbcType=VARCHAR}, 
      #{funcDescription,jdbcType=VARCHAR}, #{funcOrder,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.magicsoft.olive.music.model.SysFunctionInfo" >
    INSERT INTO sys_function_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="funcId != null" >
        func_id,
      </if>
      <if test="funcCode != null" >
        func_code,
      </if>
      <if test="funcName != null" >
        func_name,
      </if>
      <if test="funcDescription != null" >
        func_description,
      </if>
      <if test="funcOrder != null" >
        func_order,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="funcId != null" >
        #{funcId,jdbcType=INTEGER},
      </if>
      <if test="funcCode != null" >
        #{funcCode,jdbcType=VARCHAR},
      </if>
      <if test="funcName != null" >
        #{funcName,jdbcType=VARCHAR},
      </if>
      <if test="funcDescription != null" >
        #{funcDescription,jdbcType=VARCHAR},
      </if>
      <if test="funcOrder != null" >
        #{funcOrder,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.magicsoft.olive.music.model.SysFunctionInfo" >
    UPDATE sys_function_info
    <set >
      <if test="funcCode != null" >
        func_code = #{funcCode,jdbcType=VARCHAR},
      </if>
      <if test="funcName != null" >
        func_name = #{funcName,jdbcType=VARCHAR},
      </if>
      <if test="funcDescription != null" >
        func_description = #{funcDescription,jdbcType=VARCHAR},
      </if>
      <if test="funcOrder != null" >
        func_order = #{funcOrder,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE func_id = #{funcId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.magicsoft.olive.music.model.SysFunctionInfo" >
    UPDATE sys_function_info
    SET func_code = #{funcCode,jdbcType=VARCHAR},
      func_name = #{funcName,jdbcType=VARCHAR},
      func_description = #{funcDescription,jdbcType=VARCHAR},
      func_order = #{funcOrder,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    WHERE func_id = #{funcId,jdbcType=INTEGER}
  </update>
</mapper>