<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.magicsoft.olive.music.dal.database.OliveAlbumMapper" >
  <resultMap id="BaseResultMap" type="cn.com.magicsoft.olive.music.model.OliveAlbum" >
    <id column="album_id" property="albumId" jdbcType="INTEGER" />
    <result column="guid" property="guid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="artist_id" property="artistId" jdbcType="INTEGER" />
    <result column="music_style" property="musicStyle" jdbcType="INTEGER" />
    <result column="area" property="area" jdbcType="INTEGER" />
    <result column="publish_year" property="publishYear" jdbcType="INTEGER" />
    <result column="slogan" property="slogan" jdbcType="VARCHAR" />
    <result column="play_list" property="playList" jdbcType="VARCHAR" />
    <result column="cover" property="cover" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="invalid" property="invalid" jdbcType="TINYINT" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.com.magicsoft.olive.music.model.OliveAlbum" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    album_id, guid, name, artist_id, music_style, area, publish_year, slogan, play_list, 
    cover, creator, invalid, modify_time, create_time
  </sql>
  <sql id="condition" >
    <if test="null!=params" >
      <if test="null!=params.queryCondition and ''!=params.queryCondition" >
        ${params.queryCondition}
      </if>
    </if>
  </sql>
  <sql id="Blob_Column_List" >
    description
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    SELECT 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    FROM olive_album
    WHERE album_id = #{albumId,jdbcType=INTEGER}
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    SELECT COUNT(1) as s FROM olive_album WHERE 1=1 
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
     FROM olive_album WHERE 1=1 
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      ORDER BY ${orderByField}
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
     LIMIT #{page.startRowNum} ,#{page.pageSize} 
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
     FROM olive_album WHERE 1=1 
    <include refid="condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    DELETE FROM olive_album
    WHERE album_id = #{albumId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="cn.com.magicsoft.olive.music.model.OliveAlbum" >
    DELETE FROM olive_album
    WHERE album_id = #{albumId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.magicsoft.olive.music.model.OliveAlbum" >
    INSERT INTO olive_album (album_id, guid, name, 
      artist_id, music_style, area, 
      publish_year, slogan, play_list, 
      cover, creator, invalid, 
      modify_time, create_time, description
      )
    VALUES (#{albumId,jdbcType=INTEGER}, #{guid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{artistId,jdbcType=INTEGER}, #{musicStyle,jdbcType=INTEGER}, #{area,jdbcType=INTEGER}, 
      #{publishYear,jdbcType=INTEGER}, #{slogan,jdbcType=VARCHAR}, #{playList,jdbcType=VARCHAR}, 
      #{cover,jdbcType=VARCHAR}, #{creator,jdbcType=INTEGER}, #{invalid,jdbcType=TINYINT}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.magicsoft.olive.music.model.OliveAlbum" >
    INSERT INTO olive_album
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="albumId != null" >
        album_id,
      </if>
      <if test="guid != null" >
        guid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="artistId != null" >
        artist_id,
      </if>
      <if test="musicStyle != null" >
        music_style,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="publishYear != null" >
        publish_year,
      </if>
      <if test="slogan != null" >
        slogan,
      </if>
      <if test="playList != null" >
        play_list,
      </if>
      <if test="cover != null" >
        cover,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="invalid != null" >
        invalid,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="albumId != null" >
        #{albumId,jdbcType=INTEGER},
      </if>
      <if test="guid != null" >
        #{guid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="artistId != null" >
        #{artistId,jdbcType=INTEGER},
      </if>
      <if test="musicStyle != null" >
        #{musicStyle,jdbcType=INTEGER},
      </if>
      <if test="area != null" >
        #{area,jdbcType=INTEGER},
      </if>
      <if test="publishYear != null" >
        #{publishYear,jdbcType=INTEGER},
      </if>
      <if test="slogan != null" >
        #{slogan,jdbcType=VARCHAR},
      </if>
      <if test="playList != null" >
        #{playList,jdbcType=VARCHAR},
      </if>
      <if test="cover != null" >
        #{cover,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="invalid != null" >
        #{invalid,jdbcType=TINYINT},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.magicsoft.olive.music.model.OliveAlbum" >
    UPDATE olive_album
    <set >
      <if test="guid != null" >
        guid = #{guid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="artistId != null" >
        artist_id = #{artistId,jdbcType=INTEGER},
      </if>
      <if test="musicStyle != null" >
        music_style = #{musicStyle,jdbcType=INTEGER},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=INTEGER},
      </if>
      <if test="publishYear != null" >
        publish_year = #{publishYear,jdbcType=INTEGER},
      </if>
      <if test="slogan != null" >
        slogan = #{slogan,jdbcType=VARCHAR},
      </if>
      <if test="playList != null" >
        play_list = #{playList,jdbcType=VARCHAR},
      </if>
      <if test="cover != null" >
        cover = #{cover,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="invalid != null" >
        invalid = #{invalid,jdbcType=TINYINT},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    WHERE album_id = #{albumId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.com.magicsoft.olive.music.model.OliveAlbum" >
    UPDATE olive_album
    SET guid = #{guid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      artist_id = #{artistId,jdbcType=INTEGER},
      music_style = #{musicStyle,jdbcType=INTEGER},
      area = #{area,jdbcType=INTEGER},
      publish_year = #{publishYear,jdbcType=INTEGER},
      slogan = #{slogan,jdbcType=VARCHAR},
      play_list = #{playList,jdbcType=VARCHAR},
      cover = #{cover,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=INTEGER},
      invalid = #{invalid,jdbcType=TINYINT},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=LONGVARCHAR}
    WHERE album_id = #{albumId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.magicsoft.olive.music.model.OliveAlbum" >
    UPDATE olive_album
    SET guid = #{guid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      artist_id = #{artistId,jdbcType=INTEGER},
      music_style = #{musicStyle,jdbcType=INTEGER},
      area = #{area,jdbcType=INTEGER},
      publish_year = #{publishYear,jdbcType=INTEGER},
      slogan = #{slogan,jdbcType=VARCHAR},
      play_list = #{playList,jdbcType=VARCHAR},
      cover = #{cover,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=INTEGER},
      invalid = #{invalid,jdbcType=TINYINT},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    WHERE album_id = #{albumId,jdbcType=INTEGER}
  </update>
</mapper>