<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.magicsoft.olive.music.dal.database.OliveAlbumExtMapper" >
  <resultMap id="BaseResultMap" type="cn.com.magicsoft.olive.music.model.OliveAlbumExt" >
    <id column="album_id" property="albumId" jdbcType="INTEGER" />
    <result column="star_count" property="starCount" jdbcType="INTEGER" />
    <result column="view_count" property="viewCount" jdbcType="INTEGER" />
    <result column="download_count" property="downloadCount" jdbcType="INTEGER" />
    <result column="favorite_count" property="favoriteCount" jdbcType="INTEGER" />
    <result column="share_count" property="shareCount" jdbcType="INTEGER" />
    <result column="comment_count" property="commentCount" jdbcType="INTEGER" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    album_id, star_count, view_count, download_count, favorite_count, share_count, comment_count, 
    modify_time, create_time
  </sql>
  <sql id="condition" >
    <if test="null!=params" >
      <if test="null!=params.queryCondition and ''!=params.queryCondition" >
        ${params.queryCondition}
      </if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM olive_album_ext
    WHERE album_id = #{albumId,jdbcType=INTEGER}
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    SELECT COUNT(1) as s FROM olive_album_ext WHERE 1=1 
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM olive_album_ext WHERE 1=1 
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      ORDER BY ${orderByField}
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
     LIMIT #{page.startRowNum} ,#{page.pageSize} 
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM olive_album_ext WHERE 1=1 
    <include refid="condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    DELETE FROM olive_album_ext
    WHERE album_id = #{albumId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="cn.com.magicsoft.olive.music.model.OliveAlbumExt" >
    DELETE FROM olive_album_ext
    WHERE album_id = #{albumId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.magicsoft.olive.music.model.OliveAlbumExt" >
    INSERT INTO olive_album_ext (album_id, star_count, view_count, 
      download_count, favorite_count, share_count, 
      comment_count, modify_time, create_time
      )
    VALUES (#{albumId,jdbcType=INTEGER}, #{starCount,jdbcType=INTEGER}, #{viewCount,jdbcType=INTEGER}, 
      #{downloadCount,jdbcType=INTEGER}, #{favoriteCount,jdbcType=INTEGER}, #{shareCount,jdbcType=INTEGER}, 
      #{commentCount,jdbcType=INTEGER}, #{modifyTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.magicsoft.olive.music.model.OliveAlbumExt" >
    INSERT INTO olive_album_ext
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="albumId != null" >
        album_id,
      </if>
      <if test="starCount != null" >
        star_count,
      </if>
      <if test="viewCount != null" >
        view_count,
      </if>
      <if test="downloadCount != null" >
        download_count,
      </if>
      <if test="favoriteCount != null" >
        favorite_count,
      </if>
      <if test="shareCount != null" >
        share_count,
      </if>
      <if test="commentCount != null" >
        comment_count,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="albumId != null" >
        #{albumId,jdbcType=INTEGER},
      </if>
      <if test="starCount != null" >
        #{starCount,jdbcType=INTEGER},
      </if>
      <if test="viewCount != null" >
        #{viewCount,jdbcType=INTEGER},
      </if>
      <if test="downloadCount != null" >
        #{downloadCount,jdbcType=INTEGER},
      </if>
      <if test="favoriteCount != null" >
        #{favoriteCount,jdbcType=INTEGER},
      </if>
      <if test="shareCount != null" >
        #{shareCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null" >
        #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.magicsoft.olive.music.model.OliveAlbumExt" >
    UPDATE olive_album_ext
    <set >
      <if test="starCount != null" >
        star_count = #{starCount,jdbcType=INTEGER},
      </if>
      <if test="viewCount != null" >
        view_count = #{viewCount,jdbcType=INTEGER},
      </if>
      <if test="downloadCount != null" >
        download_count = #{downloadCount,jdbcType=INTEGER},
      </if>
      <if test="favoriteCount != null" >
        favorite_count = #{favoriteCount,jdbcType=INTEGER},
      </if>
      <if test="shareCount != null" >
        share_count = #{shareCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null" >
        comment_count = #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE album_id = #{albumId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.magicsoft.olive.music.model.OliveAlbumExt" >
    UPDATE olive_album_ext
    SET star_count = #{starCount,jdbcType=INTEGER},
      view_count = #{viewCount,jdbcType=INTEGER},
      download_count = #{downloadCount,jdbcType=INTEGER},
      favorite_count = #{favoriteCount,jdbcType=INTEGER},
      share_count = #{shareCount,jdbcType=INTEGER},
      comment_count = #{commentCount,jdbcType=INTEGER},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    WHERE album_id = #{albumId,jdbcType=INTEGER}
  </update>
</mapper>