<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.magicsoft.olive.music.dal.database.OliveViewRecMapper" >
  <resultMap id="BaseResultMap" type="cn.com.magicsoft.olive.music.model.OliveViewRec" >
    <id column="view_id" property="viewId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="album_id" property="albumId" jdbcType="INTEGER" />
    <result column="view_time" property="viewTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    view_id, user_id, album_id, view_time
  </sql>
  <sql id="condition" >
    <if test="null!=params" >
      <if test="null!=params.queryCondition and ''!=params.queryCondition" >
        ${params.queryCondition}
      </if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM olive_view_rec
    WHERE view_id = #{viewId,jdbcType=INTEGER}
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    SELECT COUNT(1) as s FROM olive_view_rec WHERE 1=1 
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM olive_view_rec WHERE 1=1 
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      ORDER BY ${orderByField}
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
     LIMIT #{page.startRowNum} ,#{page.pageSize} 
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM olive_view_rec WHERE 1=1 
    <include refid="condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    DELETE FROM olive_view_rec
    WHERE view_id = #{viewId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="cn.com.magicsoft.olive.music.model.OliveViewRec" >
    DELETE FROM olive_view_rec
    WHERE view_id = #{viewId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.magicsoft.olive.music.model.OliveViewRec" >
    INSERT INTO olive_view_rec (view_id, user_id, album_id, 
      view_time)
    VALUES (#{viewId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{albumId,jdbcType=INTEGER}, 
      #{viewTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.magicsoft.olive.music.model.OliveViewRec" >
    INSERT INTO olive_view_rec
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="viewId != null" >
        view_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="albumId != null" >
        album_id,
      </if>
      <if test="viewTime != null" >
        view_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="viewId != null" >
        #{viewId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="albumId != null" >
        #{albumId,jdbcType=INTEGER},
      </if>
      <if test="viewTime != null" >
        #{viewTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.magicsoft.olive.music.model.OliveViewRec" >
    UPDATE olive_view_rec
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="albumId != null" >
        album_id = #{albumId,jdbcType=INTEGER},
      </if>
      <if test="viewTime != null" >
        view_time = #{viewTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE view_id = #{viewId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.magicsoft.olive.music.model.OliveViewRec" >
    UPDATE olive_view_rec
    SET user_id = #{userId,jdbcType=INTEGER},
      album_id = #{albumId,jdbcType=INTEGER},
      view_time = #{viewTime,jdbcType=TIMESTAMP}
    WHERE view_id = #{viewId,jdbcType=INTEGER}
  </update>
</mapper>