<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.magicsoft.olive.music.dal.database.OliveStarRecMapper" >
  <resultMap id="BaseResultMap" type="cn.com.magicsoft.olive.music.model.OliveStarRec" >
    <id column="star_id" property="starId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="album_id" property="albumId" jdbcType="INTEGER" />
    <result column="Score" property="score" jdbcType="INTEGER" />
    <result column="star_time" property="starTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    star_id, user_id, album_id, Score, star_time
  </sql>
  <sql id="condition" >
    <if test="null!=params" >
      <if test="null!=params.queryCondition and ''!=params.queryCondition" >
        ${params.queryCondition}
      </if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM olive_star_rec
    WHERE star_id = #{starId,jdbcType=INTEGER}
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    SELECT COUNT(1) as s FROM olive_star_rec WHERE 1=1 
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM olive_star_rec WHERE 1=1 
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      ORDER BY ${orderByField}
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
     LIMIT #{page.startRowNum} ,#{page.pageSize} 
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM olive_star_rec WHERE 1=1 
    <include refid="condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    DELETE FROM olive_star_rec
    WHERE star_id = #{starId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="cn.com.magicsoft.olive.music.model.OliveStarRec" >
    DELETE FROM olive_star_rec
    WHERE star_id = #{starId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.magicsoft.olive.music.model.OliveStarRec" >
    INSERT INTO olive_star_rec (star_id, user_id, album_id, 
      Score, star_time)
    VALUES (#{starId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{albumId,jdbcType=INTEGER}, 
      #{score,jdbcType=INTEGER}, #{starTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.magicsoft.olive.music.model.OliveStarRec" >
    INSERT INTO olive_star_rec
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="starId != null" >
        star_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="albumId != null" >
        album_id,
      </if>
      <if test="score != null" >
        Score,
      </if>
      <if test="starTime != null" >
        star_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="starId != null" >
        #{starId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="albumId != null" >
        #{albumId,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="starTime != null" >
        #{starTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.magicsoft.olive.music.model.OliveStarRec" >
    UPDATE olive_star_rec
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="albumId != null" >
        album_id = #{albumId,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        Score = #{score,jdbcType=INTEGER},
      </if>
      <if test="starTime != null" >
        star_time = #{starTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE star_id = #{starId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.magicsoft.olive.music.model.OliveStarRec" >
    UPDATE olive_star_rec
    SET user_id = #{userId,jdbcType=INTEGER},
      album_id = #{albumId,jdbcType=INTEGER},
      Score = #{score,jdbcType=INTEGER},
      star_time = #{starTime,jdbcType=TIMESTAMP}
    WHERE star_id = #{starId,jdbcType=INTEGER}
  </update>
</mapper>