<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.magicsoft.olive.music.dal.database.OliveTagMapper" >
  <resultMap id="BaseResultMap" type="cn.com.magicsoft.olive.music.model.OliveTag" >
    <id column="tag_id" property="tagId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="tag_desc" property="tagDesc" jdbcType="VARCHAR" />
    <result column="tag_type" property="tagType" jdbcType="TINYINT" />
    <result column="invalid" property="invalid" jdbcType="TINYINT" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    tag_id, name, tag_desc, tag_type, invalid, modify_time, create_time
  </sql>
  <sql id="condition" >
    <if test="null!=params" >
      <if test="null!=params.queryCondition and ''!=params.queryCondition" >
        ${params.queryCondition}
      </if>
    </if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM olive_tag
    WHERE tag_id = #{tagId,jdbcType=INTEGER}
  </select>
  <select id="selectCount" resultType="java.lang.Integer" >
    SELECT COUNT(1) as s FROM olive_tag WHERE 1=1 
    <include refid="condition" />
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM olive_tag WHERE 1=1 
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      ORDER BY ${orderByField}
      <if test="orderByField" >
        ${orderBy}
      </if>
    </if>
     LIMIT #{page.startRowNum} ,#{page.pageSize} 
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
     FROM olive_tag WHERE 1=1 
    <include refid="condition" />
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    DELETE FROM olive_tag
    WHERE tag_id = #{tagId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPrimarayKeyForModel" parameterType="cn.com.magicsoft.olive.music.model.OliveTag" >
    DELETE FROM olive_tag
    WHERE tag_id = #{tagId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.magicsoft.olive.music.model.OliveTag" >
    INSERT INTO olive_tag (tag_id, name, tag_desc, 
      tag_type, invalid, modify_time, 
      create_time)
    VALUES (#{tagId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{tagDesc,jdbcType=VARCHAR}, 
      #{tagType,jdbcType=TINYINT}, #{invalid,jdbcType=TINYINT}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.magicsoft.olive.music.model.OliveTag" >
    INSERT INTO olive_tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tagId != null" >
        tag_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="tagDesc != null" >
        tag_desc,
      </if>
      <if test="tagType != null" >
        tag_type,
      </if>
      <if test="invalid != null" >
        invalid,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tagId != null" >
        #{tagId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tagDesc != null" >
        #{tagDesc,jdbcType=VARCHAR},
      </if>
      <if test="tagType != null" >
        #{tagType,jdbcType=TINYINT},
      </if>
      <if test="invalid != null" >
        #{invalid,jdbcType=TINYINT},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.magicsoft.olive.music.model.OliveTag" >
    UPDATE olive_tag
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tagDesc != null" >
        tag_desc = #{tagDesc,jdbcType=VARCHAR},
      </if>
      <if test="tagType != null" >
        tag_type = #{tagType,jdbcType=TINYINT},
      </if>
      <if test="invalid != null" >
        invalid = #{invalid,jdbcType=TINYINT},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE tag_id = #{tagId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.magicsoft.olive.music.model.OliveTag" >
    UPDATE olive_tag
    SET name = #{name,jdbcType=VARCHAR},
      tag_desc = #{tagDesc,jdbcType=VARCHAR},
      tag_type = #{tagType,jdbcType=TINYINT},
      invalid = #{invalid,jdbcType=TINYINT},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    WHERE tag_id = #{tagId,jdbcType=INTEGER}
  </update>
</mapper>